[Unit]
${unit_options}
[Service]
Environment="ETCD_IMAGE_TAG=${version}"
Environment="ETCD_NAME=${name}"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://${client_advertise_fqdn}:${client_port}"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://${peer_advertise_fqdn}:${peer_port}"
Environment="ETCD_LISTEN_CLIENT_URLS=https://${client_listen_host}:${client_port}"
Environment="ETCD_LISTEN_PEER_URLS=https://${peer_listen_host}:${peer_port}"
Environment="ETCD_INITIAL_CLUSTER=${name}=https://${peer_advertise_fqdn}:${peer_port}"
Environment="ETCD_STRICT_RECONFIG_CHECK=true"
Environment="ETCD_SSL_DIR=${client_tls_dir}"
Environment="ETCD_TRUSTED_CA_FILE=${server_tls_dir}/server-ca.crt"
Environment="ETCD_CERT_FILE=${server_tls_dir}/server.crt"
Environment="ETCD_KEY_FILE=${server_tls_dir}/server.key"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE=${peer_tls_dir}/peer-ca.crt"
Environment="ETCD_PEER_CERT_FILE=${peer_tls_dir}/peer.crt"
Environment="ETCD_PEER_KEY_FILE=${peer_tls_dir}/peer.key"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
